.App {
  text-align: center;
  justify-content: center;
}

/* #body{
  background-color: white;
} */

.dark {
  background-color: #333;
  color: #fff;
}
.light {
  background-color: #fff;
  color: #333;
}

.toggle {
  width: 100px;
  height: 50px;
  border-radius: 90px;
}