* {
  padding: 0;
  margin: 0;
  list-style: none;
}
a {
  text-decoration: none;
}


.stylePhoto {
  max-height: 200px; /* Hide Overflow; max 2 rows*/
  overflow: hidden; /* Hide Overflow; max 2 rows */
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
  grid-auto-rows: auto;
}
.circular--square {
  object-fit: cover;
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.basic-info-category {
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight:normal;

}
.basic-info-name {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 40px;

}
.basic-info-price {
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight:normal;
}
.dropdown-layout {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
}
.dropdown-size {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  width: 90%;
  border: 1px solid rgba(120, 120, 120, 1);
  box-shadow: 5px 5px 10px rgb(0, 0, 0, 0.4);
}

.dropdown-quantity {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  width: 90%;
  border: 1px solid rgba(120, 120, 120, 1);
  box-shadow: 5px 5px 10px rgb(0, 0, 0, 0.4);
}

.add-to-bag {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  width: 90%;
  border: 1px solid rgba(120, 120, 120, 1);
  box-shadow: 5px 5px 10px rgb(0, 0, 0, 0.4);
}

.slogan {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  width: 58%;
}

#overview-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
.overview {
  max-width: 1200px;
  width: 100%;
  text-align: left;
}
.topHalf {
  display: flex;
  width: 100%;
}
.topHalf > .photo-container {
  width: 70%;
  height: 680px;
  position: relative;
}
.topHalf > .photo-container > div {
  width: 100%;
  height: 100%;
}
.mainPhoto {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.topHalf > .description-container {
  width:30%;
  padding: 20px;
}


.thumbnailPhoto {
  width: 150px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 20px;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  gap: 20px;
}
.thumbnailPhoto > div {
  width: 90px;
  height: 90px;
  padding: 10px;
  border: 1px solid rgba(120, 120, 120, 1);
  box-shadow: 5px 5px 10px rgb(0, 0, 0, 0.4);
}
.thumbnailPhoto > div > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bottomHalf {
  width: 100%;
}
